.resume__container {
    padding: 2rem;
}

.resume__experience {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.resume__experience-header {
    display: flex;
    justify-content: space-between;
}

.resume__experience-title {
    display: flex;
    justify-content: space-between;
}

.resume__experience-duties {

}