/* Title Block */
.title textarea {
    font-size: 32px;
    font-weight: bold;
}

.subtitle textarea {
    font-size: 24px;
    font-weight: bold;
}

/* Experience Block */
.job_title input {
    font-size: 24px;
    font-weight: bold;
}

.job_employer {
    font-size: 24px
}