/* Main Block */
.project__container {
    display: grid;
    grid-template-columns: 150px auto;
}

.project__container-sidebar {
    grid-column: 1;
    display: flex;
    flex-direction: column;

    position: fixed;
    padding-right: 1rem;
}

.project__container-content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

/* Title */

.project__container-content h1 {
    font-weight: 800;
    font-size: xx-large;
}

/* Content */

.project__container-content, .project__container-sidebar p {
    font-size: large;
    line-height: 28px;
}